@using QuizzAppFilRouge.Models.QuizzViewModels


@model IEnumerable<QuizzViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="vh-100 overflow-auto">

<div class="d-flex justify-content-end">
    <a class="me-4 mt-4 btn btn-primary" asp-action="Create">Créer un nouveau quiz</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizzLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizzCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizzLangage)
            </th>
            <th>
                Candidat
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidationCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var quizz in Model)
            {
                        <tr>
                        <td>
                        @quizz.Id
                        </td>
                        <td>
                        @quizz.Notation
                        </td>
                        <td>
                        @quizz.QuizzLevel
                        </td>
                        <td>
                        @quizz.QuizzCreator
                        </td>
                        <td>
                        @quizz.QuizzLangage
                        </td>
                        <td>
                        @quizz.Passages.ApplicationUser.FirstName
                        @quizz.Passages.ApplicationUser.LastName

                        </td>
                        <td>
                        @quizz.ValidationCode
                        </td>
                        <td>

                            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-gradient-blue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Réglages
                    </button>

                    <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">
                    <div class="d-grid gap-3">                    
                    <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@quizz.Id">Edit</a></li>
                    <li><a class="dropdown-item" asp-action="Details" asp-route-id="@quizz.Id">Details</a></li>
                    <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@quizz.Id">Delete</a></li>
                    <li><a class="dropdown-item" asp-controller = "Email" asp-action="Index"
                        asp-route-validationCode="@quizz.ValidationCode" 
                        asp-route-firstName="@quizz.Passages.ApplicationUser.FirstName" 
                        asp-route-lastName="@quizz.Passages.ApplicationUser.LastName"
                        asp-route-quizzId="@quizz.Passages.QuizzId"
                        asp-route-applicantId="@quizz.Passages.ApplicationUserId"
                        asp-route-date ="@quizz.Passages.PassageDate.ToString()">
                            Envoyer Code de validation</a> </li>
                    <li><a  class="dropdown-item" asp-action="GetQuizzResults" asp-route-quizzId="@quizz.Id">Extraire formulaire de résultats</a> </li>

                    <li><a class="dropdown-item" asp-action="GetFreeQuestionResponse" asp-route-quizzId="@quizz.Id">Extraire questions libres pour correction</a></li>

                    <li><a class="dropdown-item" asp-controller="Responses" asp-action="CorrectFreeQuestionsResponses" asp-route-quizzId="@quizz.Id">Ajouter correction pour les questions libres</a></li>
                    </div>
                    </ul>
                        </td>
                    </tr>
            }
    </tbody>
</table>
</div>


<script>
    var dropdown = document.getElementById("dropdownMenuLink")
    var dropdownmenu = document.getElementById("dropdown-menu")
    console.log("dropdownmenu", dropdownmenu)
    dropdown.onclick = () => dropdownmenu.classList.toggle("show");
    console.log("dropdown", dropdown)
</script>