@using QuizzAppFilRouge.Data

@functions {
    public string GetBodyClass()
    {
        if (@ViewBag.BodyClass != null)
        {

            if (ViewBag.BodyClass.Contains("accueil"))
            {
                return "vh-100";
            }
        }
        return "";

    }
}

<!DOCTYPE html>
<html class="vh-100" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizzAppFilRouge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizzAppFilRouge.styles.css" asp-append-version="true" />
</head>
<body class="@ViewBag.BodyClass">
    <header>
    </header>
    <div class="d-flex gap-4 ">
       @if (!User.Identity.IsAuthenticated)
{
        <div class="col-2 d-flex flex-column p-3 shadow bg-light vh-100  @GetBodyClass()">
            <ul class="list-unstyled d-flex flex-column gap-3">
                <li class="d-flex align-items-center w-100">
                    <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3" href="https://localhost:7256/">
                    <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/2163/2163350.png" />Accueil</a>
                </li>
                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3" href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> Quizz</a>
                </li>
                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3" href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> 
                Question</a>
                </li>
                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3 " href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> 
                Agence</a>
                </li>
                                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3 " href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> 
                Utilisateurs</a>
                </li>
                                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3 " href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> 
                Lorem</a>
                </li>
                                <li>
                <a class="w-100 d-flex align-items-center shadow-lg gap-2 p-2 border-20-px  rounded-lg d-flex text-center p-3 " href="https://localhost:7256/">
                <img height="16" width="16" src="https://cdn-icons-png.flaticon.com/512/5726/5726470.png" /> 
                Lorem</a>
                </li>

            </ul>

        </div>

}







        <div class="quizz-login">
            @RenderBody()
        </div>



        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
