@using QuizzAppFilRouge.Data.Entities
@using QuizzAppFilRouge.Data
@using QuizzAppFilRouge.Models.User;

@model IEnumerable<UserViewModel>


    <h1>List of User</h1>

    </br>
    </br>


@{
    // TODO : Add a dropdown menu to choose to role to apply to the user
}
    <thead>
        <tr>
            <td> Id </td>
            <td> Nom </td>
            <td> Prenom </td>
            <td> Email </td>
            <td> Date de naissance </td>

        </tr>
    </thead>

    <tbody>
        <br />
    @foreach (var user in Model)
    {
        var i = 0;
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate</td>
                <br />
            </tr>
    }
    </tbody>

    </br>
    </br>


