@using QuizzAppFilRouge.Data.Entities
@using QuizzAppFilRouge.Data

@model IEnumerable<UserInfo>


    <h1>List of User</h1>

    </br>
    </br>

    <h1>@EnumRoles.Recruiter</h1>


@{
    // TODO : Add a dropdown menu to choose to role to apply to the user
}
    <thead>
        <tr>
            <td> Id</td>
            <td> Name</td>
        </tr>
    </thead>

    <tbody>
        <br />
    @foreach (var user in Model)
    {
        var i = 0;
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.IdentityUser.Id</td>
                <td>@user.IdentityUser.Email</td>
                <br />

            </tr>
    }
    </tbody>

    </br>
    </br>


