@using QuizzAppFilRouge.Models.ResponseViewModel;
@model List<ResponseViewModel>

@{
    ViewData["Title"] = "Correction";
}

<h1>Correction réponse libres quizz n° @Model[0].QuizzId</h1>

<hr />


@*
                    Mon code d'origine avant bootstrap'    
                    <table>

                        <th> Question </th>
                        <th> Réponse </th>
                        <th> Est-ce correct ? </th>

                        <td>@Model[i].Question.Content</td>
                        <td>@Model[i].Content</td>

                            <td>                    
                                <input type="checkbox" asp-for="@Model[i].IsTrue" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model[i].IsTrue"> Vrai</label>

                                <input type="checkbox" asp-for="@Model[i].IsFalse" class="form-check-input"/>
                                <label class="form-check-label" asp-for="@Model[i].IsFalse"> Faux </label>
                            </td>



                    </table>
*@

    <form method="post" asp-action="CorrectFreeQuestionsResponses" />
    
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <table class="table">
            <thead>
        
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Réponse</th>
                <th scope="col">Est-ce correct ? </th>

            </tr>

            </thead>
            <tbody>

            @for (int i = 0; i < Model.Count(); i++) // Boucle sur la liste de réponses libre
            {
              
                <tr>
                    <td>@Model[i].Question.Content</td>
                    <td>@Model[i].Content</td>
                    <td>
                        <input type="checkbox" asp-for="@Model[i].IsTrue" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsTrue"> Vrai</label>

                        <input type="checkbox" asp-for="@Model[i].IsFalse" class="form-check-input"/>
                        <label class="form-check-label" asp-for="@Model[i].IsFalse"> Faux </label>
                    </td>
                </tr>

                    <input type="hidden" asp-for="@Model[i].Question.Id" />
                    <input type="hidden" asp-for="@Model[i].QuizzId" />
            }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Valider la correction" class="me-4 mt-4 btn btn-primary"" />
        </div>






@*@if (User.Identity.IsAuthenticated) // retourner ) la liste des quizzs
{
    bool isAdmin = false;

    @if (User.IsInRole("Admin"))
    {
        isAdmin = true;
    }
            <a asp-controller="Quizzs" asp-action="GetAllQuizzs" asp-route-isAdmin="@isAdmin">Retourner à la liste des Quizzs</a>

}*@

@section Scripts 
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script>
        //$('input[type="checkbox"]').on('change', function() {
        //    $(this).siblings('input[type="checkbox"]').prop('checked', false);
        //});
            $('input[type=checkbox]').removeAttr('checked');
        </script>
}
